@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste para vaga de desenvolvedor de sistemas</h1>
    <p class="lead">Como parte do processo seletivo para vaga de desenvolvedor de sistemas na INDRA, 
    segue abaixo um teste para desenvolver um CRUD básico em ASP.NET MVC utilizando banco de dados Sql Server.</p>
</div>

<div class="row" align="center">
    <div>
        <h2>Descrição</h2>
        <p align="justify"> - Desenvolver uma solução para gerenciar um sistema de vendas;</p>
        <p align="justify"> - Esse sistema deve possuir, no mínimo, uma base de produtos e uma de vendas;</p>
        <p align="justify"> - Um produto deve ser composto por: Descrição, quantidade em estoque, data de cadastro, preço;</p>
        <p align="justify"> - Uma venda deve ser composta por: Um ou vários produtos com a quantidade de cada produto, valor total, data da venda;</p>
        <p align="justify"> - Nessa solução deve ser possível: Cadastrar, Editar, Excluir e Listar os produtos;</p>
        <p align="justify"> - A cada venda deve ser atualizado o estoque do produto;</p>

        <p align="justify">
            Diferenciais: View Model, Entity Framework e AngularJS.

            Será dado um prazo até amanhã (19/10/2018) às 16h para o envio da solução contendo o projeto em C# e script de criação das tabelas (SQL).
        </p>
    </div>
</div>